" ██╗██████╗ ███████╗ █████╗ ██╗   ██╗██╗███╗   ███╗
" ██║██╔══██╗██╔════╝██╔══██╗██║   ██║██║████╗ ████║
" ██║██║  ██║█████╗  ███████║██║   ██║██║██╔████╔██║
" ██║██║  ██║██╔══╝  ██╔══██║╚██╗ ██╔╝██║██║╚██╔╝██║
" ██║██████╔╝███████╗██║  ██║ ╚████╔╝ ██║██║ ╚═╝ ██║
" ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚═╝╚═╝     ╚═╝
" Examples: https://jb.gg/share-ideavimrc
source ~/.config/ideavim/init.vim
