/* Islands: Left */
#cpu,
#pulseaudio {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-style: none;
}

/* Islands: center */
#battery,
#bluetooth,
#disk,
#memory,
#network {
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
}

/* Islands: Right */
#backlight,
#custom-updates,
#temperature {
  border-bottom-left-radius: 0px;
  border-left-style: none;
  border-top-left-radius: 0px;
}

/* Islands: style icons */
#cpu,
#custom-weather,
#language,
#pulseaudio,
#workspaces {
  margin-left: 7px;
}

/* Islands: add padding right */
#battery,
#bluetooth,
#network,
#pulseaudio {
  padding-right: 5px;
}
