[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:enrique-mendoza/nvim.git
[submodule "ideavim/.config/ideavim"]
	path = ideavim/.config/ideavim
	url = git@github.com:enrique-mendoza/ideavim.git
