@import "/home/kike/.config/waybar/styles/mocha.css";

window {
  background-color: @base;
  border: 1px solid @sky;
  border-radius: 10px;
  opacity: 0.97;
}

label {
  font-family: "JetBrainsMono Nerd Font", "CaskaydiaMono Nerd Font", "GeistMono Nerd Font", "AdwaitaMono Nerd Font", "SFMono Nerd Font Mono", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 12px;
  color: @text;
}

image {
  color: @text;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @text;
}
