* {
  border: none;
  border-radius: 0px;
  font-family: "CaskaydiaMono Nerd Font Propo", "GeistMono Nerd Font Propo", "JetBrainsMono Nerd Font Propo", "AdwaitaMono Nerd Font Propo", "SFMono Nerd Font Mono", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
}

/* Waybar Window */
window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

/* Tooltip */
tooltip {
  background: @base;
  border-radius: 8px;
  border: 0.5px solid @sky;
  color: @text;
}

/* Modules: General */
.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-expand-icon,
#custom-launcher,
#custom-power,
#custom-updates,
#custom-weather,
#disk,
#keyboard-state,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#window,
#workspaces {
  background: @base;
  border: 0.1px solid @sky;
  border-radius: 8px;
  margin: 4px 0 4px 0;
  padding: 0 10px;
}
