#workspaces button {
  all: initial;
  color: @teal;
  margin: 0 4px;
  min-width: 9px;
  padding: 4px 5px 4px 5px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible {
  color: @teal;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.urgent {
  color: @red;
}
