#workspaces {
  min-height: 28px;
  padding: 0 1px; /* Reduced from 16px to 12px */
}

#workspaces button {
  border-radius: 8px;
  color: @text;
  margin: 4px 3px; /* Tighter workspace spacing */
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: @pink;
  min-width: 40px;
  background-size: 400% 400%;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible {
}

#workspaces button.active {
  background-color: @blue;
  border-radius: 8px;
  color: @base;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background: @red;
  background-size: 400% 400%;
  border-radius: 7px;
  color: @base;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
}
