@import url("/home/kike/.config/waybar/themes/mocha.css");

/* General */
/* Note: alt border style: border-radius: 10px */
* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font Propo", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

/* Waybar Window */
window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

/* Tooltip */
tooltip {
  background: #1e1e2e;
  border-color: #11111b;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

/* Modules: General */
#backlight,
#battery,
#clock,
#cpu,
#custom-power,
#custom-updates,
#custom-weather,
#disk,
#keyboard-state,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
  background: @base;
  border: 1px solid @sky;
  margin: 3px 0px;
  margin-top: 10px;
  padding: 0px 10px;
}

#backlight,
#memory {
  border-left: 0px;
  border-right: 0px;
}

#disk,
#network {
  border-left: 0px;
}

/* If Clock is the leftmost module, add left margin */
.modules-left > widget:first-child > #clock {
  margin-left: 10px; /* Alt: 5px */
}

/* If Pulseaudio is the rightmost module, add right margin */
.modules-right > widget:last-child > #pulseaudio {
  margin-right: 10px; /* Alt: 5px */
}

/* If Tray is the rightmost module, add right margin */
.modules-right > widget:last-child > #tray {
  margin-left: 10px; /* Alt: 5px */
  margin-right: 10px; /* Alt: 5px */
}

/* Module: Backlight */
#backlight {
  color: @sapphire;
}

/* Module: Battery */
#battery {
  border-left: 0px;
  border-right: 0px;
  color: @green;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* Module: Clock */
#clock {
  color: @peach;
}

/* Module: Cpu */
#cpu {
  border-right: 0px;
  margin-left: 7px;
  color: @yellow;
}

/* Modules: Custom Updates */
#custom-updates {
  margin-right: 10px;
}

/* Module: Custom Power */
#custom-power {
  color: @red;
}

/* Module: Custom Updates */
#custom-updates {
  color: @blue;
}

/* Module: Custom Weather */
#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}

/* Module: Disk */
#disk {
  color: @teal;
}

/* Module: Keyboard-state */
#keyboard-state {
  border-left: 0px;
  border-right: 0px;
  color: @pink;
}

/* Module: Language */
#language {
  border-right: 0px;
  color: @pink;
}

/* Module: Memory */
#memory {
  color: @blue;
}

/* Module: Network */
#network {
  color: @flamingo;
}

/* Module: Pulseaudio */
#pulseaudio {
  border-left: 0px;
  color: #89b4fa;
}

#pulseaudio.microphone {
  border-radius: 0 10px 10px 0;
  color: #cba6f7;
}

/* Module: Window */
#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

/* Module: Workspaces */
#workspaces {
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button {
  color: @sky;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.visible {
  color: @sky;
}

#workspaces button.urgent {
  color: @red;
}
