@import url("/home/kike/.config/waybar/themes/mocha.css");

/* General */
/* Note: alt border style: border-radius: 10px */
* {
  border: none;
  border-radius: 8px;
  font-family: "CaskaydiaMono Nerd Font Propo", "GeistMono Nerd Font Propo", "JetBrainsMono Nerd Font Propo", "SFMono Nerd Font Mono", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
}

/* Waybar Window */
window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

/* Tooltip */
tooltip {
  background: @base;
  border-radius: 8px;
  border: 0.5px solid @sky;
  color: @text;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

/* Modules: General */
#backlight,
#battery,
#clock,
#cpu,
#custom-power,
#custom-updates,
#custom-weather,
#disk,
#keyboard-state,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
  background: @base;
  border: 0.1px solid @sky;
  /* margin: 7.5px 0 3px 0; */
  margin: 4px 0 4px 0;
  padding: 0px 10px;
}

#backlight,
#memory {
  border-left: 0px;
  border-right: 0px;
}

#disk {
  border-left: 0px;
}

/* Module: Backlight */
#backlight {
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
  color: @sapphire;
}

/* Module: Battery */
#battery {
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
  color: @green;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* Module: Clock */
#clock {
  color: @peach;
}

/* Module: Cpu */
#cpu {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-style: none;
  color: @yellow;
  margin-left: 7px;
}

/* Module: Custom Power */
#custom-power {
  color: @red;
}

/* Module: Custom Updates */
#custom-updates {
  color: @blue;
  margin-right: 7px;
}

/* Module: Custom Weather */
#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}

/* Module: Disk */
#disk {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: @teal;
}

/* Module: Keyboard-state */
#keyboard-state {
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
  color: @rosewater;
}

/* Module: Language */
#language {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-style: none;
  /* padding-right: 7px; */
  /* padding-right: 0px; */
  color: @rosewater;
}

/* Module: Memory */
#memory {
  border-radius: 0px;
  color: @blue;
}

/* Module: Network */
#network {
  margin-left: 7px;
  color: @green;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @text;
}

/* Module: Pulseaudio */
#pulseaudio {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-style: none;
  color: @blue;
}

#pulseaudio.microphone {
  border-radius: 0 10px 10px 0;
  color: @pink;
}

/* Module: Window */
#tray {
  margin-right: 7px;
}

/* Module: Window */
#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

/* Module: Workspaces */
#workspaces {
  animation: gradient_f 20s ease-in infinite;
  margin-left: 0;
  padding-right: 5px;
  padding-left: 5px;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button {
  animation: gradient_f 20s ease-in infinite;
  color: @sky;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible {
  color: @sky;
}

#workspaces button.active {
  animation: gradient_f 20s ease-in infinite;
  color: @sky;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.urgent {
  color: @red;
}

/* If Microphone is the rightmost module, add right margin */
.modules-right > widget:last-child > #tray {
  margin-left: 7px;
}
