@import url("/home/kike/.config/waybar/themes/mocha.css");

/* General */
* {
  border: none;
  border-radius: 8px;
  font-family: "CaskaydiaMono Nerd Font Propo", "GeistMono Nerd Font Propo", "JetBrainsMono Nerd Font Propo", "SFMono Nerd Font Mono", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
}

/* Waybar Window */
window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

/* Tooltip */
tooltip {
  background: @base;
  border-radius: 8px;
  border: 0.5px solid @sky;
  color: @text;
}

/* Modules: General */
.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-expand-icon,
#custom-power,
#custom-updates,
#custom-weather,
#disk,
#keyboard-state,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
  background: @base;
  border: 0.1px solid @sky;
  margin: 4px 0 4px 0;
  padding: 0 10px;
}

/* Islands: Left */
#bluetooth,
#cpu,
#custom-expand-icon {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-style: none;
  margin-left: 7px;
}

/* Islands: center */
#backlight,
#battery,
#language,
#memory,
#tray {
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
}

/* Islands: Right */
#disk,
#network,
#pulseaudio {
  border-bottom-left-radius: 0px;
  border-left-style: none;
  border-top-left-radius: 0px;
}

/* Module: Backlight */
#backlight {
  color: @yellow;
}

/* Module: Battery */
#battery {
  color: @green;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* Module: Bluetooth */
#bluetooth {
  color: @blue;
  padding-right: 4px;
}

/* Module: Clock */
#clock {
  color: @peach;
}

/* Module: Cpu */
#cpu {
  color: @yellow;
}

/* Module: Custom Expand */
#custom-expand-icon {
  color: @teal;
}

/* Module: Custom Updates */
#custom-updates {
  color: @blue;
}

/* Module: Disk */
#disk {
  color: @teal;
}

/* Module: Keyboard-state */
#keyboard-state {
  color: @rosewater;
}

/* Module: Language */
#language {
  color: @flamingo;
}

/* Module: Memory */
#memory {
  color: @blue;
}

/* Module: Network */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @text;
}

/* Module: Pulseaudio */
#pulseaudio {
  color: @blue;
}

#pulseaudio.microphone {
  color: @pink;
}

/* Module: Workspaces */
#workspaces button {
  all: initial;
  color: @sky;
  margin: 0 4px;
  padding: 5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible {
  color: @sky;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button.urgent {
  color: @red;
}
