@import url("/home/kike/.config/waybar/themes/mocha.css");
@import url("/home/kike/.config/waybar/include/general.css");
@import url("/home/kike/.config/waybar/styles/groups/island.css");

/* Module: Backlight */
#backlight {
  color: @yellow;
}

/* Module: Battery */
#battery {
  color: @green;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* Module: Bluetooth */
#bluetooth {
  color: @blue;
}

/* Module: Clock */
#clock {
  color: @peach;
}

/* Module: Cpu */
#cpu {
  color: @yellow;
}

/* Module: Custom Launcher */
#custom-launcher {
  color: @blue;
}

/* Module: Custom Expand */
#custom-expand-icon {
  color: @teal;
}

/* Module: Custom Updates */
#custom-updates {
  color: @blue;
}

/* Module: Disk */
#disk {
  color: @teal;
}

/* Module: Keyboard-state */
#keyboard-state {
  color: @rosewater;
}

/* Module: Language */
#language {
  color: @flamingo;
}

/* Module: Memory */
#memory {
  color: @blue;
}

/* Module: Network */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @text;
}

/* Module: Pulseaudio */
#pulseaudio {
  color: @blue;
}

#pulseaudio.microphone {
  color: @pink;
}

/* Module: Temperature */
#temperature {
  color: @sky;
}

#temperature.warning {
  color: @yellow;
}

#temperature.critical {
  color: @red;
}

/* Module: Workspaces */
#workspaces button {
  all: initial;
  color: @teal;
  margin: 0 4px;
  min-width: 9px;
  padding: 5px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible {
  color: @teal;
}

#workspaces button.active {
  color: @yellow;
}

#workspaces button.urgent {
  color: @red;
}
