@import url("/home/kike/.config/waybar/styles/mocha.css");

/* General */
* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font Propo", "CaskaydiaMono Nerd Font Propo", "GeistMono Nerd Font Propo", "AdwaitaMono Nerd Font Propo", "SFMono Nerd Font Mono", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 12px;
  margin: 0;
  min-height: 0;
  padding: 0;
  font-weight: bold;
}

/* Waybar Window */
window#waybar {
  background: transparent;
}

/* Tooltip */
tooltip {
  background: @mantle;
  border: 1px solid @sky;
  border-radius: 12px;
}

tooltip label {
  color: @text;
  padding: 6px;
}

/* Modules: General */
.modules-center {
  background: @mantle;
  border-radius: 28px;
  box-shadow: none;
  padding: 6px 12px;
}

#battery,
#clock,
#cpu,
#disk,
#language,
#memory,
#network,
#performance-expander,
#pulseaudio,
#tray {
  background-color: @mantle;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: @text;
  margin: 0 5px;
  padding: 0 8px;
}

#cpu,
#performance-expander {
  color: @yellow;
}

/* Module: Clock */
#clock {
  padding-left: 8px;
}

/* Module: Battery */
#battery {
  color: @green;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* Module: Disk */
#disk {
  color: @teal;
}

/* Module: Memory */
#memory {
  color: @blue;
}

/* Module: Network */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @text;
}

/* Module: Pulseaudio */
#pulseaudio {
  color: @blue;
}

#pulseaudio.microphone {
  color: @pink;
}

/* Module: Workspaces */
#workspaces {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0 10px 0 10px;
  padding: 0;
}

#workspaces button {
  background: transparent;
  border-radius: 16px;
  color: @text;
  margin: 0px 2px;
  padding: 0px 6px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible {
  color: @teal;
}

#workspaces button.active {
  background: linear-gradient(135deg, @yellow 0%, @sky 50%, @red 100%);
  color: @mantle;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @mauve;
  color: @mantle;
}

#workspaces button.urgent {
  background-color: @red;
  color: @mantle;
}
