@import url("/home/kike/.config/waybar/styles/mocha.css");

/* General */
* {
  background-color: @mantle;
  border: none;
  border-radius: 0;
  color: @text;
  font-family: "JetBrainsMono Nerd Font Propo", "CaskaydiaMono Nerd Font Propo", "GeistMono Nerd Font Propo", "AdwaitaMono Nerd Font Propo", "SFMono Nerd Font Mono", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  font-size: 12px;
  min-height: 0;
}

/* Modules: General */
.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-launcher,
#custom-updates,
#disk,
#language,
#memory,
#network,
#performance-expander,
#pulseaudio,
#tray {
  margin: 0 7.5px;
  min-width: 12px;
}

/* Module: Workspaces */
#workspaces button {
  all: initial;
  margin: 0 1.5px;
  min-width: 9px;
  padding: 0 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}
