@import url("/home/kike/.config/waybar/styles/mocha.css");

* {
	background-image: none;
	box-shadow: none;
}

window {
	/* background-color: rgba(30, 30, 46, 0.90); */
	background-color: transparent;
}

button {
  background-color: @base;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24%;
  border-radius: 0px;
  border-width: 0px;
  box-shadow: none;
  border: 1px solid @sky;
  color: @text;
  font-family: "JetBrainsMono Nerd Font", "CaskaydiaMono Nerd Font", "GeistMono Nerd Font", "AdwaitaMono Nerd Font", "SFMono Nerd Font", "Cartograph CF Nerd Font", "RobotoMono NF", "SauceCodePro NF", "FontAwesome";
  outline-style: none;
  text-shadow: none;
}

button:focus {
  background-color: @mantle;
  background-size: 34%;
}

button:hover {
  animation: gradient_f 20s ease-in infinite;
  background-color: @crust;
  background-size: 34%;
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

button:hover#lock {
  border: 1px solid @sky;
  border-radius: 15px;
  margin: 270px 0px 270px 300px;
}

button:hover#hibernate {
  border: 1px solid @sky;
  border-radius: 15px;
  margin: 270px 0px 270px 0px;
}

button:hover#logout {
  border: 1px solid @sky;
  border-radius: 15px;
  margin: 270px 0px 270px 0px;
}

button:hover#shutdown {
  border: 1px solid @sky;
  border-radius: 15px;
  margin: 270px 0px 270px 0px;
}

button:hover#suspend {
  border: 1px solid @sky;
  border-radius: 15px;
  margin: 270px 0px 270px 0px;
}

button:hover#reboot {
  border: 1px solid @sky;
  border-radius: 15px;
  margin: 270px 300px 270px 0px;
}

#lock {
  background-image: url("/home/kike/.config/wlogout/icons/catppuccin/mocha/sky/lock.svg");
  border-radius: 15px 0 0 15px;
  border-right: none;
  margin: 300px 0px 300px 300px;
}

#hibernate {
  background-image: url("/home/kike/.config/wlogout/icons/catppuccin/mocha/sky/hibernate.svg");
  border-left: none;
  border-radius: 0px 0px 0px 0px;
  border-right: none;
  margin: 300px 0px 300px 0px;
}

#logout {
  background-image: url("/home/kike/.config/wlogout/icons/catppuccin/mocha/sky/logout.svg");
  border-left: none;
  border-radius: 0px 0px 0px 0px;
  border-right: none;
  margin: 300px 0px 300px 0px;
}

#shutdown {
  background-image: url("/home/kike/.config/wlogout/icons/catppuccin/mocha/sky/shutdown.svg");
  border-left: none;
  border-radius: 0px 0px 0px 0px;
  border-right: none;
  margin: 300px 0px 300px 0px;
}

#suspend {
  background-image: url("/home/kike/.config/wlogout/icons/catppuccin/mocha/sky/suspend.svg");
  border-left: none;
  border-radius: 0px 0px 0px 0px;
  border-right: none;
  margin: 300px 0px 300px 0px;
}

#reboot {
  background-image: url("/home/kike/.config/wlogout/icons/catppuccin/mocha/sky/reboot.svg");
  border-left: none;
  border-radius: 0px 15px 15px 0px;
  margin: 300px 300px 300px 0px;
}
